body{
    margin: 0% auto;
}
header{
    background: rgba(37, 195, 201, 0.486);
}
h1, p{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: 0, auto;
    color: #367caa;
}
header, ul, li, .nav-bar{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
ul, li, .nav-bar {
    text-decoration: none;
    color: #367caa;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 14px;
  }
ul li .nav-bar,
ul li .nav-bar:after,
ul li .navbar:before {
    transition: all .5s;
  }
ul li .nav-bar:hover {
    color: rgb(255, 255, 255);
  }
