body{
    margin: 0% auto;
}
h5 {
	color: #1e5b85;
}
header{
    background: rgba(37, 195, 201, 0.486);
}
h1, p{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: 0, auto;
    margin-bottom: 10;
    color: #367caa;
}
header, ul, li, .nav-bar{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
ul, li, .nav-bar {
    text-decoration: none;
    color: #367caa;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 14px;
  }
ul li .nav-bar,
ul li .nav-bar:after,
ul li .navbar:before {
    transition: all .5s;
  }
ul li .nav-bar:hover {
    color: rgb(255, 255, 255);
  }
  .image-carousel {
	max-width: 1200px;
	justify-content: center;
	padding-left: 100px;
  }
  /* moedas e animação */
  .container2{
    animation: floating 5s ease-in-out infinite;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}
.flex {
    flex:1 1 200px;
    display: flex;
    max-width: 100%;
}
@keyframes floating{
0%, 100% {
    transform: translateY(0px);
}
50% {
    transform: translateY(-20px);
}
}
/* cards e efeito flip */
.imagemcard {
		max-width: 300px;
		max-height: 400px;
}
.flip-cards{
    display: flex;
    justify-content: center;
	margin-bottom: 250px;
	padding-left: 10px;
}
.flip-container, .flip-container2, .flip-container3 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }
  .flipper, .flipper2, .flipper3{
	width: 100%;
	height: 100%;
    transition: .8s;
    position: relative;
	transform-style: preserve-3d;
}
.back, .back2, .back3{
	transform: rotateY(180deg);
}

.front, .front2, .front3, .back, .back2, .back3{
	position: absolute;
	width: 100%;
	height: 400px;
    backface-visibility: hidden;
}
#switch, #switch2, #switch3 {
	display: none;
}

#switch:checked ~ .flip-container .flipper{
	transform: rotateY(180deg);
}
#switch2:checked ~ .flip-container2 .flipper2{
	transform: rotateY(180deg);
}
#switch3:checked ~ .flip-container3 .flipper3{
	transform: rotateY(180deg);
}
/* cotações */
.cotacoes{
	text-align: center;
	justify-content: center;
}
.btncoin {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: rgba(37, 195, 201, 0.486);
    color: #367caa;
    transition: 0.5s;
}

.btncoin:hover {
    background-color: #275b7e;
    color: rgba(37, 195, 201, 0.486);
}

.btncoin:focus {
    background-color: #1e5b85;
}
h2 {
    color: #367caa;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}
#maxvalue {
    color: green;
    font-weight: 700;
}
#minvalue {
    color: red;
    font-weight: 700;
}
/* iframe */
iframe, object, embed{max-width: 100%;}

.team-section {
    background: rgba(37, 195, 201, 0.486);
    overflow: hidden;
  }
  /* team members */
  .team-members {
    display: flex;
    justify-content: center;
  }

.member {
	background: #fff;
	width: calc(20% - 25px);
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	padding: 50px 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	border-radius: 10px;
	position: relative;
}

.member h2 {
	font-size: 22px;
	margin-bottom: 5px;
}

.member span {
	font-size: 14px;
	color: #83759a;
	display: block;
}

.member .member-text {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 1;
}

.member:hover {
	-webkit-box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
}

.member:hover .member-info {
	opacity: 1;
}

.member:hover .member-text {
	opacity: 0;
}

.member-img {
	width: 230px;
	height: 230px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 25px;
}

.member-social {
	padding-top: 25px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.member-social a {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	background: #cbd3df;
	color: #fff;
	padding-top: 13px;
	margin: 0 8px;
}

.member-meta {
	padding-left: 85px;
}

.member-info {
	padding: 50px 60px 10px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: left;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	height: 380px;
	overflow-y: auto;
}

.member-info p {
	display: block;
	padding-top: 25px;
	margin-bottom: 0;
}

.member-img.mf {
	width: 60px;
	height: 60px;
	opacity: 1;
	float: left;
	margin-bottom: 0;
}
/* media queries */

@media (min-width: 1199px) and (max-width: 1390px) {
	.member {
		padding: 35px 10px;
	}
	.member-img {
		width: 160px;
		height: 160px;
	}
	.member-info {
		padding: 50px 27px 10px;
		height: 275px;
	}
	.member-social a {
		margin: 0 5px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	.member {
		width: calc(33.333333% - 25px);
		margin-bottom: 30px;
	}
	.team-members {
		text-align: center;
	}
	
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.member {
		width: calc(33.333333% - 25px);
		margin-bottom: 30px;
		padding: 35px 10px;
	}
	.member-img {
		width: 160px;
		height: 160px;
	}
	.member-info {
		padding: 50px 27px 10px;
		height: 275px;
	}
	.member-social a {
		margin: 0 5px;
	}
	.team-members {
		text-align: center;
	}
	
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	
	.team-members {
		margin: 0;
		padding: 0 15px;
	}
	.member {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0;
	}
	
}


@media screen and (max-width: 768px) {

	header {
		height: 230;
		flex-direction: column;
		text-align: center;
		flex-wrap: wrap;

	}
	.carousel-inner img {
		max-width: 350px;
		min-height: 300px;
		justify-content: center;
}
	.imagemcard {
		max-width: 200px;
}
.flip-cards{
display: flex;
justify-content: center;
margin-bottom: 150px;
padding-left: 100px;
}
.flip-container, .flip-container2, .flip-container3 {
width: 300px;
height: 200px;
perspective: 1000px;
}
.flipper, .flipper2, .flipper3{
width: 100%;
height: 100%;
transition: .8s;
position: relative;
transform-style: preserve-3d;
}
.back, .back2, .back3{
transform: rotateY(180deg);
}

.front, .front2, .front3, .back, .back2, .back3{
position: absolute;
width: 100%;
height: 400px;
backface-visibility: hidden;
}
#switch:checked ~ .flip-container .flipper{
	transform: rotateY(180deg);
}
#switch2:checked ~ .flip-container2 .flipper2{
	transform: rotateY(180deg);
}
#switch3:checked ~ .flip-container3 .flipper3{
	transform: rotateY(180deg);
}
.image-carousel {
	max-width: 300px;
	max-height: 100px;
	align-items: center;
}
}
/* footer Cristiano */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #235475;
    font-family: 'Bebas Neue', cursive;
}
footer{
    position: relative;
    top: 400px;
    width: 100%;
    background: #367caa;
    font-family:'Bebas Neue', cursive;
    color: #367caa}
footer p{
        color: #ffffff;
    }
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: #ffffff;
    top: -10px;
}
.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ffffff;
    top: -10px;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    background: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #367caa;
}
.left .content p{
    text-align: justify;
}
.center .content .fas{
    font-size: 23px;
    background: #1a1a1a;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #367caa;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}

.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: rgba(37, 138, 201, 0.486);
    text-align: center;
}
.bottom .center a{
    color: #000000;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 300px){
    footer{
        position: fixed;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
	.member-img {
		width: 180px;
		height: 180px;
	}
	.member-info {
		padding: 50px 20px 10px;
		height: 320px;
	}
	.blog-text {
		padding: 15px;
	}
	.flip-cards {
		justify-content: center;
	}
	.image-carousel {
	max-width: 50px;
	max-height: 100px;
	align-content: center;
	}
	.carousel-item {
		max-width: 100px;
	}
}
